body{
    background-color: #499954;
}
nav{
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url(src/epe.png);
}
button{
    background-color: #6c6c6e;
    color: #499954;
    width: 240px;
    height: 30px;
    margin-right: 25px;
}
a{
    color: #499954;
    text-decoration: transparent;
    font-size: x-large;
    font-weight: bolder;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe{
    margin: 0 auto;
    width: auto;
    height: 500px;
}