body{
    background-color: #499954;
}
nav{
    margin-left: 2%;
}
button{
    background-color: #6c6c6e;
    color: white;
    width: 90px;
    height: 30px;
    margin-right: 25%;
}
a{
    color: white;
    text-decoration: transparent;
    font-size: larger;
    font-weight: bolder;
}
img{
    width: 100%;
    position: relative;
    top: -35px;
    z-index: -1;
}
#why{
    color: white;
    text-align: justify;
    font-weight: bold;
    border: 3px double white;
    margin-bottom: 5%;
}
h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: xx-large;
}
p{
    margin-left: 5%;
    text-align: center;
    width: 90%;
    font-size: large;
}
ul{
    margin-left: 40%;
    font-size: large;
    color:  white;
}
#bottom{
    width: 100%; 
    height:100px; 
    font-weight: bolder; 
    font-size: larger;
}